.h1{
    color: blue;
    background-color: white;
    text-align: center;
    padding: 30%;
}
div[appWatermark] {
    background-repeat: repeat;
    background-size: 100px 100px;
    /* Puedes ajustar el tamaño según sea necesario */
    height: 100%;
    /* Asegura que el div tenga suficiente espacio */
    width: 100%;
    /* Asegura que el div tenga suficiente espacio */
}